


.logo {
  background-color: black;
  color: white;
}

.inside {
  background-color: black;
  color: white;
  }

.article {
  background-color: black;
  color: white;
}

.navigation {
  background-color: red;
  color: white;
}

footer {
  background-color: black;
  color: white;
}
